/* Estlos generales */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }
 

 body{
    width: 100%;
     background-color: #fafffd;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .margen{
    margin-top: 150px;
 }