.menu__logo{
    height: auto;
    width: 100px;
}
.menu--margin{
    margin-left: 50px;
}
.menu__titulo{
    font-family: 'Lobster', cursive;
}
.menu__link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
}
.opacity{
    background-color: #c5cbd3;
    opacity: 0.9;
}
