 /* Textos */

.infoArgentina__titulo--fuente{
   font-size: 3rem;
}
.infoArgentina__texto--fuente{
   font-size: 1.5rem;
}
.contacto__titulo{
    display: block;
    margin: 0 auto;
 }
.destinos__titulo{
    color:crimson;
    text-align: center;
    border: 2px solid black;
    text-decoration: underline;
    background-color:white;
 }
.infoArgentina__textoindex{
   color: ghostwhite;
   border: 2px solid black;
}

