@import "variables";
@import "generales";
@import "menu";

@import "textos";
@import "destinos";
@import "imagenes";

@import "footer";

 
 /* Cards */

 .card--size{
    min-height: 450px;
 }


// Operaciones con sass:

//mixin
@mixin margen($tamano) {
   .m0 {
     margin: $tamano;
   }
   .m1 {
      margin: $tamano + 10px;
   }
   .m2 {
      margin: $tamano + 20px;
   }
 }


//IF
$type: rojo;
.texto--index {
  @if $type == negro {
    color: black;
  } @else if $type == blanco {
    color: white;
  } @else if $type == azul {
    color: blue;
  } @else {
    color: red;
  }
}

//FOR
@for $i from 1 through 6 {
     
    .texto--size_#{$i}
    {
         font-size: 0.5em*$i;
    }
}


//Each
$sizes: 40px, 50px, 80px;

@each $size in $sizes {
  .icono-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

//Desafio complementario modificando variables de bootstrap

$card-spacer-y:100px;